// Bar styles
.bar-side-menu {
  @include bar-style($bar-side-menu-color, $bar-side-menu-border-color, $bar-side-menu-text-color);
  height: $bar-side-menu-height !important; // MOBILE-959: Added !important to fix side menu header in iOS.
  .item {
    background: transparent;
    border: none;
  }
  .item-avatar {
    margin-top: 0px !important; // MOBILE-959: Added to fix side menu header in iOS.
    h2,
    p,
    .icon {
      color: $bar-side-menu-text-color;
    }
  }
}

.has-side-menu-header {
  top: $bar-side-menu-height;
}

.mm-sidemenu-menu {
  .item .badge {
    right: 16px;
  }
}

ion-side-menu li .item,
ion-side-menu li.item {
  border-color: $bar-side-menu-item-border-color;
  /*background-color: $bar-side-menu-item-background-color;*/
  background-color: #008854;
  /*color: $bar-side-menu-item-text-color;*/
  color: #FFFFFF;

  .icon {
    /*color: $bar-side-menu-item-icon-color;*/
    color: #FFFFFF;
  }
}

ion-side-menu li.item.item-divider {
/*  background-color: $bar-side-menu-item-divider-color;*/
}
