
.mm-mm_login_sites {
  .item-thumbnail-left .item-content {
    padding-top: $item-padding;
    padding-right: $item-padding;
  }

  .list-left-editing .item-thumbnail-left .item-content {
    padding-right: (ceil( ($item-padding * 3) + ($item-padding / 3) ) - 5);
  }

  .avatar {
    margin: 0;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius : 50%;
    padding: 4px;
    border: 1px solid #ddd;
  }
}

.mm-login-sitepolicy-iframe {
  height: 300px;
}

.mm-oauth-icon, .item.mm-oauth-icon {
  padding: ($item-padding / 2);

  > img, > span {
    max-height: $item-icon-font-size;
    max-width: $item-icon-font-size;
    vertical-align: middle;
  }
  > span {
    margin-left: 5px;
    color: $gray-darker;
  }
}

.mm-mm_login_credentials, .mm-mm_login_reconnect, .mm-mm_login_site {
  .mm-ioninput-password {
    padding-top: 0;
    padding-bottom: 0;
  }
  /*
  EDITS BY RAYMOND
  background: -webkit-radial-gradient(white, $gray-light);
    background: radial-gradient(white, $gray-light);

  background: -webkit-radial-gradient(white, #008854);
  background: radial-gradient(white, #008854);
  */
  background: #FFF;

  img {
    /*max-width: 100%;*/
    max-width: 40%;
  }

  img.moodle-logo {
    /*width: 90%;*/
    width: 50%;
  /*  max-width: 300px;*/
  max-width: 150px;
  }

  .box {
    padding: 16px;
    background: $white;
    border: 1px solid $item-default-border;
  }

  .mm-sitename, .mm-siteurl {
    @if $mm-fixed-url { display: none; }
  }
}
