<ion-view view-title="{{ 'mm.login.login' | translate }}">
    <ion-content mm-state-class padding="true" class="mm-center-view">
        <mm-loading hide-until="pageLoaded" class="mm-view-content">
            <div class="box">
                <div class="item item-text-wrap text-center item-borderless">
                    <!-- Show site logo or a default image. -->

                    <!--
                    EDITTED BY RAYMOND
                    <img ng-if="logourl" ng-src="{{logourl}}" class="avatar-full" mm-external-content role="presentation">
                    <img ng-if="!logourl" ng-src="img/logo.png" class="avatar-full moodle-logo" role="presentation">

                    <img ng-if="logourl" ng-src="http://www.ngopulse.org/sites/default/files/styles/sn_announce_logo/public/regenesys.jpg?itok=7hUWoEbj" class="avatar-full" mm-external-content role="presentation">
                    <img ng-if="!logourl" ng-src="http://www.ngopulse.org/sites/default/files/styles/sn_announce_logo/public/regenesys.jpg?itok=7hUWoEbj" class="avatar-full moodle-logo" role="presentation">

                  -->

                <img ng-if="logourl" ng-src="img/regenesys.jpg" class="avatar-full" mm-external-content role="presentation">
                  <img ng-if="!logourl" ng-src="img/regenesys.jpg" class="avatar-full moodle-logo" role="presentation">


                    <!-- If no sitename show big siteurl. -->
                    <p ng-if="!sitename" class="item-heading padding mm-siteurl">{{siteurl}}</p>
                    <!-- If sitename, show big sitename and small siteurl. -->
                    <p ng-if="sitename" class="item-heading padding mm-sitename">{{sitename}}</p>
                    <p ng-if="sitename" class="mm-siteurl">{{siteurl}}</p>
                </div>
                <form>
                    <ion-input class="list item item-input" ng-if="siteChecked && !isBrowserSSO">
                        <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="none" autocorrect="off">
                    </ion-input>
                    <ion-input class="list item item-input mm-ioninput-password" ng-if="siteChecked && !isBrowserSSO">
                        <input id="mm-login-credentials-password-input" name="password" type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" mm-show-password>
                    </ion-input>
                    <button class="button button-block button-positive" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
                </form>

                <div ng-if="identityProviders && identityProviders.length" class="padding-top list">
                    <p>{{ 'mm.login.potentialidps' | translate }}</p>
                    <a ng-repeat="provider in identityProviders" class="item item-icon-right item-text-wrap mm-oauth-icon" ng-click="oauthClicked(provider)" title="{{provider.name}}">
                        <img ng-src="{{provider.iconurl}}" alt="{{provider.name}}">
                        <span>{{provider.name}}</span>
                        <i class="icon icon-accessory ion-chevron-right"></i>
                    </a>
                </div>

                <div ng-if="canSignup">
                    <div class="item item-text-wrap item-borderless">
                        <p class="item-heading">{{ 'mm.login.firsttime' | translate }}</p>
                        <p ng-if="authInstructions"><mm-format-text>{{authInstructions}}</mm-format-text></p>
                    </div>
                    <button class="button button-block" ui-sref="mm_login.email_signup({siteurl: siteurl})">{{ 'mm.login.startsignup' | translate }}</button>
                </div>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
